  .container-logo {
    background-size: cover;
    color: #fff;
    text-align: center;
    vertical-align: middle;
  }   
  .logo {
      text-shadow: -5px 10px 20px gray;
      color: white;
      letter-spacing: -0.05em;
      font-family: 'Acme', sans-serif;
      font-family: 'Fredoka One', cursive;
      font-size: 20vh;
      transition: all 0.25s ease-out;
  }

  #sub-logo{
    font-size: 5vh;
    text-shadow: -5px 10px 20px gray;
  }
  .center{
    padding-top: 25vh;
  }
  